/* header-main */
.header-main {
  margin-bottom: 40px;
}

/* input-form */
.input {
  width: 100%;
}
.departure,
.arrival,
.adult {
  width: 20%;
}
.calendar {
  width: 28%;
}

.section-input {
  margin-bottom: 24px;
}
.search-btn {
  width: 12%;
}
/* section-filter */

.section-filter {
  margin-bottom: 48px;
  width: 100%;
}
.select-filter {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #27273f;
  padding: 8px 12px 8px 16px;
  width: 120px;
  height: 38px;
  border: 1px solid #cbd4e6;
  border-radius: 4px;
}
/* section section-flight-table */
.section-flight-table {
  margin-bottom: 48px;
}
.table-wrapper {
  height: 456px;
  padding: 16px;
  border: 1px solid #e9e8fc;
  border-radius: 12px;
  overflow-y: scroll;
  margin-bottom: 24px;
}
.table-wrapper::-webkit-scrollbar {
  display: none;
}
.table-row {
  padding: 16px;
  border-bottom: 1px solid #e9e8fc;
  transition-duration: 0.5s;
}
.table-row:hover {
  background-color: #f6f6fe;
  cursor: pointer;
  transition: ease-in 0.2s;
}
.airline-logo {
  flex: 1;
}
.flight-details {
  flex: 2;
}
.second-line {
  font-weight: 400 !important;
}
.first-line {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #27273f;
  margin-bottom: 8px;
}
.second-line {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #7c8db0;
}
/* btn-expand-fl */
.btn-expand-fl {
  padding: 12px 20px;
  color: #605dec;
  width: 168px;
  height: 48px;
  border: 1px solid #605dec;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.btn-expand-fl:hover {
  background-color: #e9e8fc;
  transition: ease-in 0.2s;
}
/* section section-banner */
.section-banner,
.section-place {
  margin-bottom: 80px;
}
/* section-price-grid */
.table-border {
  margin-bottom: 40px;
}
.price-table {
  border: 1px solid #e9e8fc;
  border-radius: 12px;
  width: 397px;
  height: 247px;
  overflow: hidden;
}
.date-row,
.date-cell {
  font-weight: 700;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  color: #52556f;
}
.price-row .cell-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  color: #6e7491;
}
.date-row,
.price-row {
  height: 17%;
}
.cell {
  width: 18%;
  border: 1px solid #e9e8fc;
  cursor: pointer;
}
/* table hover */

/* section-price-rating */
.price-chart,
.title-wrapper {
  margin-bottom: 24px;
}
.title-wrapper .section-title {
  margin: 0;
}
.btn-blue {
  padding: 2px 8px;
  width: 84px;
  height: 30px;
  background: #5cd6c0;
  border-radius: 4px;
  text-align: center;
  margin-left: 16px;
  transition-duration: 0.5s;
}
.btn-blue a {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.btn-blue:hover {
  background-color: #00b292;
  transition: ease-in 0.2s;
}
.content-advice {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #6e7491;
  margin-bottom: 8px;
}
@media (max-width: 1140px) {
  .search-btn {
    width: 20%;
  }
  .section-flight-table, .section-title,.price-chart{
    text-align: center;
  }
  .section-banner img{
    width: 100%;
  }
  .price-table{
    margin: 0 auto;
  }
  .title-wrapper{
    justify-content: center;
  }
}
@media (max-width: 720px) {
  .search-btn {
    width: 30%;
  }
}
