/* section section-heading */

.section-heading {
  margin-bottom: 36px;
}
.description {
  font-size: 18px;
}
.last-child-ds {
  margin-bottom: 36px;
}
.heading-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 16px;
}

/* form-input */

.form-input {
  background: #ffffff;
  border: 1px solid #a1b0cc;
  border-radius: 4px;
}

.input-small {
  width: 30%;
  margin-bottom: 24px;
}
.dob-input {
  width: 40%;
  margin-left: 5%;
}
.input-wrapper {
  margin-bottom: 46px;
}
.larger-input {
  width: 47%;
  margin-bottom: 24px;
}
.check-row {
  margin-bottom: 24px;
}
.data-label{
  margin-bottom: 0 !important;
}

.caculator {
}
.number {
  color: #6e7491;
  margin: 0 16px;
}
.caculator-btn {
  width: 32px;
  height: 32px;
  background: #fafafa;
  border-radius: 4px;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
  transition: ease-in-out .4s;
}
.caculator-btn:hover{
  background-color: #E9E8FC;
}
.caculator-btn i {
  color: #605dec;
}
.payment{
  width: 100%;
}
.btn-wrapper{
  margin-top: 60px;
}
.section-bag{
  margin-top: 200px;
}

@media (max-width: 1204px) {
.section-bag{
  display: none;
}
.btn-wrapper{
  margin-bottom: 40px;
  justify-content: center;
}
.btn-payment-wrapper{
  justify-content: center !important;
}
.payment{
  justify-content: center !important;
}
.title{
  text-align: center;
}
.description{
  text-align: center;
}
.heading-title{
  text-align: center;
}
}