@media (max-width: 1140px) {
  .section-homepage {
    height: 70vh;
  }

  /* modal */
  .modal-inner .description {
    display: none;
  }
  .modal-header {
    margin-bottom: 5%;
  }
  /* input */
  .input {
    flex-wrap: wrap;
  }
  .input-box {
    margin-bottom: 8px;
  }
  .departure,
  .arrival {
    width: 50%;
  }
  .calendar {
    width: 50%;
  }
  .adult {
    width: 30%;
  }
  .btn-responsive {
    width: 20%;
  }
  .section-title {
    text-align: center;
  }
  /* payment page */

  .section-form-card {
  }
  .form-larger-wrapper {
    width: 50%;
  }
  .form-larger-wrapper .form-control {
    width: 98%;
    margin-bottom: 48px;
  }
  .form-small-item {
    width: 98%;
  }
  .section-login .form-control {
    width: 100%;
  }
  .section-login .modal-btn {
    width: 100%;
  }
  .or-wrapper {
    justify-content: center;
  }
  .section-login .btn-wrapper {
    justify-content: center;
  }
}

@media (max-width: 960px) {
  .navbar-expand-lg .navbar-nav {
    box-shadow: 0px 2px 4px rgb(7 4 146 / 10%), 0px 24px 60px rgb(6 47 125 / 5%), 0px 12px 24px rgb(27 59 119 / 5%);
    padding-bottom: 4%;
  }
  .section-homepage {
    height: 60vh;
  }
  .homepage-slogan {
  }

  .footer-column1 {
    width: 10%;
  }
  .footer-column {
    width: 40%;
    margin-bottom: 10px;
  }
  .margin-tablet {
    margin-left: 15%;
  }
  /* payment page */
  .payment-name {
    font-size: 13px;
    line-height: 21px;
  }
  .card-payment a {
    line-height: 20px;
  }
  .form-larger-wrapper {
    width: 100%;
    margin-bottom: 48px;
  }
  .form-small-wrapper {
    width: 100%;
  }
  /* payment page */
  .icon-border {
    top: 30%;
    right: 4%;
  }
  /* modal */
  .modal-inner {
    width: 64%;
    /* margin-top: 50px !important; */
  }
}

@media (max-width: 720px) {
  .header-top-content {
    font-size: 12px;
    line-height: 20px;
  }
  .mt-xs-3 {
    margin-top: 16px;
  }
  .input {
    flex-wrap: wrap;
  }
  .input-box {
    margin-bottom: 4px;
  }
  .departure,
  .arrival {
    width: 100%;
  }
  .calendar {
    width: 100%;
  }
  .adult {
    width: 70%;
  }
  .btn-responsive {
    width: 30%;
  }

  .footer-column1 {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .footer-column {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .margin-tablet {
    margin-left: 0px;
  }
  /* modal */

  .modal-inner {
    width: 90%;
  }
}

@media (max-width: 540px) {
  .icon-border {
    top: 27%;
  }
  .google,
  .apple {
    border-bottom: 1px solid #605dec;
  }
  .paypal {
    margin-left: 24%;
  }
  .crypto {
    margin-right: 24%;
  }
  .card-payment {
    border-radius: 0px;
  }
}
