.header-main {
  width: 100%;
  margin-bottom: 46px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.bg-main {
  background: url(../img/Plane.png) right no-repeat;
  background-size: 150%;
  width: 100%;
  height: 2500px;
  margin-top: 30px;
}

.plane {
}
/* section-class */
.section-class {
  position: fixed;
  width: 50%;
  /* height: 100vh; */
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(12px);
  border-left: 1px solid #cbd4e6;
}
.class-wrapper {
  height: 100vh;
}
/* heading */
.class-heading {
  width: 100%;
  height: 88px;
  background: #27273f;
  color: #fafafa;
}
.local-wrapper {
  border-right: 1px solid #6e7491;
  padding: 2%;
  flex: 4;
}

.local-code {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #fafafa;
}
.class-content {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #e9e8fc;
}
.class-icon {
  font-size: 25px;
  font-weight: 600;
  margin: 0 20px;
}
.first-child {
  border-right: 1px solid #6e7491;
}
.time {
  flex: 3;
  padding: 3%;
}
.date {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.class-content {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #e9e8fc;
}

/* class-main */
.class-main {
}
.seat-selector {
  padding: 26px;
}
.seat-class {
  margin-bottom: 8px;
  cursor: pointer;
}
.seat-class:hover img{
  opacity: 0.8;
  transition: ease-in-out .3s;
}
/* feature-list */
.feature-list {
  padding: 18px;
}
.feature-name {
  margin-bottom: 8px;
}
.feature-list-bullet {
}
.feature-icon {
  margin-right: 10px;
}
.title {
  font-size: 16px;
}
.description {
  font-size: 10px;
  margin-bottom: 4px;
}
/* class-footer */

.class-footer {
  min-height: 96px;
  border-top: 1px solid #6e7491;
  padding: 16px;
}
.pasenger-data {
  flex: 4;
}
.btn-wrapper {
  display: flex;
  flex: 6;
}
.btn-full {
  color: #fafafa !important;
}
.btn-full,
.btn-border {
  width: 148px !important;
}
.btn-border a {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.btn-full a {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
}
/* modal-btn */
.modal-btn {
  width: 100% !important;
}
.selected-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  color: #ffffff;
  padding: 2px 6px;
  width: 69px;
  height: 22px;
  background: linear-gradient(180deg, #605dec 0%, #2a26d9 100%);
  border-radius: 4px;
  margin-left: 3%;
  margin-top: 1%;
}
.business-class{
  background: linear-gradient(180deg, #5CD6C0 0%, #22C3A6 100%);
}
@media (max-width: 1024px) {
  .local-code,
  .date {
    font-size: 14px;
  }
  .class-content {
    font-size: 9px;
  }
  .class-icon {
    font-size: 18px;
  }
  .class-heading {
    height: 68px;
  }
  .seat-class img {
    max-width: 80%;
  }
  .seat-class {
    text-align: center;
  }
  .feature-list {
    padding: 0px;
  }
  .feature-list .title {
    text-align: left;
    margin-bottom: 8px !important;
  }
  .feature-list .description {
    text-align: left;
    line-height: 10px;
  }
  .feature-icon {
    margin-right: 4px;
  }
  .feature-icon img {
    max-width: 60%;
    margin-bottom: 15px;
  }
  .class-footer .pasenger-data .title {
    font-size: 14px;
  }
  .section-class .btn-border,
  .section-class .btn-full {
    padding: 10px 8px;
    height: 44px;
  }
}
