* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}
a {
  text-decoration: none;
  color: #605dec;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
/* .container {
  margin: 0 64px !important;
} */
/* Modal */
.modal1 {
  /* position: fixed;
  top: 0; */
  /* width: 100%;
  height: 100%;
  background: rgba(82, 82, 122, 0.2); */
}
.modal-inner {
  width: 568px;
  height: auto;
  padding: 40px;
  background: #ffffff;
  border: 1px solid #cbd4e6;
  box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1),
    0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
  border-radius: 12px;
  position: relative;
  margin: auto;
}
.modal-header {
}
.modal-close {
  color: #6e7491;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.modal-body {
  margin-bottom: 12px;
}
.description {
  margin-bottom: 12px;
}
.modal-input {
  display: block;
  margin-bottom: 12px;
}
.modal-form {
}
.form-input {
  width: 488px;
  height: 48px;
  padding: 8px 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #7c8db0;
  border: 1px solid #a1b0cc;
  border-radius: 4px;
}
.form-input:focus {
  border: 1px solid #605dec;
  outline: none;
  transition: all 0.4s ease-in-out;
}
.check-wrapper {
  margin-bottom: 12px;
}
.form-check {
}
.form-check-input {
  color: #6e7491;
}
.form-check-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #6e7491;
}
.btn-form {
  padding: 12px 20px;
  color: #fff;
  width: 488px;
  height: 48px;
  background: #605dec;
  border-radius: 4px;
  border: none;
  transition: all 0.4s ease-in-out;
}
.btn-form:hover {
  background-color: #1513a0;
  transition: all 0.4s ease-in-out;
}
.modal-footer {
}
.modal-btn {
  padding: 12px 20px;
  width: 488px;
  height: 48px;
  border: 1px solid #605dec;
  border-radius: 4px;
  margin-bottom: 12px;
  position: relative;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
}

.modal-btn:hover {
  cursor: pointer;
  background-color: #e9e8fc;
  transition: all 0.4s ease-in-out;
}
.modal-btn a {
  position: absolute;
  left: 0;
  right: 0;
}
.sns-wrapper {
  display: flex;
}
.or-wrapper {
  display: flex;
  margin-bottom: 12px;
}
.line {
}
.or {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #7c8db0;
  margin: 0 10px;
}
/* header */
.header-main {
  width: 100%;
  margin-bottom: 46px;
  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 2; */
}
.header-top {
  width: 100%;
  height: 64px;
  position: relative;
  color: #fff;
  background-color: #605dec;
  display: flex;
  line-height: 64px;
  align-items: center;
  justify-content: center;
}
.header-top-content {
  font-size: 18px;
  margin-top: unset;
}
.header-top-icon {
  font-size: 14px;
  position: absolute;
  right: 32px;
  cursor: pointer;
}
/* navbar */

.navbar {
  height: 80px;
  margin: 0px 33px !important;
  padding: 33px 0px !important;
}

.navbar-brand {
  font-size: 30px !important;
  font-weight: 800;
  color: #605dec !important;
}
.navbar-nav {
  line-height: 64px;
}
.nav-item {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.nav-link {
  color: #7c8db0;
}
.nav-link:hover,
.modal-close:hover {
  color: #605dec;
  transition: ease-in 0.2s;
}
.nav-link {
  padding: 0 !important;
}
.btn-nav {
  width: 95px;
  height: 48px;
  background-color: #605dec;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  line-height: 48px;
}
.btn-nav:hover,
.serch-btn:hover,
.btn-expand:hover {
  background-color: #1513a0;
  transition: ease-in 0.2s;
}

/* input */
.input-box .form-select {
  height: 48px;
  padding-left: 52px;
  border-radius: 0px;
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
  color: #7c8db0;
  border: 1px solid #cbd4e6;
  /* elevation / medium */

  box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1),
    0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
}

.input-box .first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.input-box {
  position: relative;
}
.input-icon {
}
.icon-wrapper {
  top: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.serch-btn {
  background-color: #605dec;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  width: 96px;
  height: 48px;
  box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1),
    0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
}

.serch-btn a {
  color: #fff;
  font-size: 18px;
  padding-left: 25%;
}
.departure,
.arrival {
  width: 324px;
}
.calendar {
  width: 252px;
}
.adult {
  width: 200px;
}

/* homepage */
.section-homepage {
  height: 700px;
  background: url(../img/background-world-map-1.gif) top center / cover
    no-repeat;
}
.homepage-slogan {
  width: 756px;
  height: 265px;
  background: url(../img/Hero\ Text\ Gradient.svg) top center / cover no-repeat;
}

.section-input {
  display: flex;
}

/* section section-.card{
  } */

.section-card {
  margin-top: 40px;
}
.section-title {
  font-weight: 700;
  font-size: 20px;
  color: #6e7491;
  margin-bottom: 24px;
}
.section-title a {
  color: #605dec;
}

/* card */
.card:hover .card-img-top img {
  transition: all 0.4s ease-in-out;
  transform: scale(1.1);
}
.card {
  width: 100% !important;
  height: auto;
  box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1),
    0px 12px 32px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;
}
.card-img-top {
  height: 397px;
  width: 100%;
  overflow: hidden;
  transition-duration: 0.5s;
}
.card-body {
}
.card-name {
  display: flex;
  color: #6e7491;
  justify-content: space-between;
}
.card .price {
}
.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.price {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #7c8db0;
  overflow: hidden;
}

/* card-large */
.section-large-card {
  margin-top: 40px;
}
.card-large {
  width: 1312px !important;
  height: auto !important;
}
.card-large-img {
  height: 397px !important;
}

/* card */

.link-blue,
.section-title .link-blue {
  color: #5cd6c0;
}

/* button */
.btn-expand {
  background-color: #605dec;
  color: #fafafa;
  align-items: center;
  padding: 12px 20px;
  border-radius: 4px;
  border: none;
  width: 195px;
  height: 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-top: 80px;
}
/* review-section */
.section-review {
  margin-top: 100px;
}
.section-review .review-slider {
  padding-bottom: 2rem;
}
.slider {
  padding: 20px 0px 20px 0;
}
.section-review .section-title {
  text-align: center;
}
.section-review .box {
  padding: 2rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.section-review .box img {
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.section-review .box .star {
  color: #605dec;
  font-size: 1.7rem;
}

/* footer */
footer {
  margin-top: 50px;
  padding: 80px;
  height: 415px;
}
.footer-column {
  width: 184px;
}
.footer-title {
  color: #6e7491;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
.footer-content {
  height: 30px;
  margin-top: 12px;
  color: #7c8db0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
